body{
  position: relative;
  top: 20px;
  border: 5px solid black;
  width: 90%;

  float: 0px;
  margin: auto;
  font-family: monospace;
  text-align: center;
}
div.container{
  padding: 10px;
  display: inline-block;
}
h1{
  font-size: 40px;
  color: #5a6061;
  border-bottom: 5px solid #24b39d;
}
img{
  border: 5px solid #24b39d;
  border-radius: 5px;
  width: 15%;
}
div.contenido{
  width: 100%;
}
p.parrafo{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: justify;
  float: 0px;
  margin: auto;
  width: 90%;
}
div.footer{
  background: #24b39d;
  width: 100%;
}
